build/
build_/

saved_task/*
saved_task/

assets/
assets

**/*/data/
**/__pycache__
*.pyc
*.tmp
*.tmp/
*.whl
output/
record*/
*.hdf5

*.tar
*.tar.gz
*.zip
*.7z
3rdparty
!3rdparty/**

checkpoint
checkpoints

source/geniesim/app/robot_cfg/*_recording.json
.vscode/
