accelerate==0.32.1
bitsandbytes
braceexpand==0.1.7
colorama
decord
diffusers
draccus==0.8.0
einops_exts
future
grasp_nms
grpcio
h5py
imgaug
IPython
json_numpy
keyboard
ninja
numpy==1.26.4
omegaconf==2.3.0
open3d
opentelemetry-api
opentelemetry-exporter-jaeger
opentelemetry-instrumentation
packaging
pin==2.6.21
protobuf==5.29
pynput
quaternionic
rich==14.0.0
rosbags
rosbags.image
rotary_embedding_torch
rtree
ruckig
scikit-build-core
scikit-learn
sentencepiece
setuptools
shapely
tensorflow==2.19.0
timm==0.9.10
tokenizers==0.19.1
tqdm==4.66.4
transformers<=4.45.0
trimesh
webdataset
wheel
