accelerate==0.32.1
bitsandbytes
braceexpand==0.1.7
decord
diffusers
draccus==0.8.0
einops_exts
imgaug
omegaconf==2.3.0
rich==14.0.0
sentencepiece
tensorflow==2.19.0
timm==0.9.10
tokenizers==0.19.1
torch ==2.5.1
tqdm==4.66.4
transformers<=4.45.0
webdataset
