accelerate>=1.12.0
# MCP Server
dashscope
datasets>=4.4.2
decord>=0.6.0
fastmcp
ipykernel>=7.1.0
langchain==1.1.0
langchain-chroma==1.0.0
langchain-core==1.1.0
matplotlib>=3.10.8
mcpo
ninja>=1.13.0
openai>=1.0.0
opencv-python-headless>=4.12.0.88
qwen-vl-utils>=0.0.14
scipy>=1.16.3
transformers>=4.57.3
uvicorn[standard]
