<?xml version="1.0"?>
<!--
  Universal Robots UR5 description (bundled).

  Adapted from Universal_Robots_ROS2_Description (ur_description 4.3.1):
    - urdf/ur.urdf.xacro
    - urdf/ur_macro.xacro
    - urdf/inc/ur_common.xacro
    - config/ur5/{default_kinematics,joint_limits,physical_parameters,visual_parameters}.yaml
    - meshes/ur5/{visual,collision}/

  All $(find ur_description)/... references rewritten to the vendored
  genie_sim_robot_model layout (robots/universal_robots/ur5/...). Mesh URIs resolve via
  package://genie_sim_robot_model/robots/universal_robots/ur5/meshes/ur5/... through the
  visual_parameters.yaml. No external ur_description package is required.

  Upstream license: BSD-3-Clause (see src/external/Universal_Robots_ROS2_Description/LICENSE).
-->
<robot name="ur5"
  xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find genie_sim_robot_model)/robots/universal_robots/ur5/urdf/ur_macro.xacro"/>

  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="joint_limit_params"
             default="$(find genie_sim_robot_model)/robots/universal_robots/ur5/config/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params"
             default="$(find genie_sim_robot_model)/robots/universal_robots/ur5/config/default_kinematics.yaml"/>
  <xacro:arg name="physical_params"
             default="$(find genie_sim_robot_model)/robots/universal_robots/ur5/config/physical_parameters.yaml"/>
  <xacro:arg name="visual_params"
             default="$(find genie_sim_robot_model)/robots/universal_robots/ur5/config/visual_parameters.yaml"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="force_abs_paths" default="false" />

  <xacro:ur_robot
    name="ur5"
    tf_prefix="$(arg tf_prefix)"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="$(arg force_abs_paths)"
    />
</robot>
