<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Package Name -->
  <xacro:property name="package_name" value="genie_sim_robot_model" />
  <!-- Math Definition -->
  <xacro:property name="PI" value="${pi}" />
  <xacro:property name="PI_2" value="${pi/2}" />

  <!-- Material Definition -->
  <material name="default">
    <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
  </material>

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0" />
  </material>

  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0" />
  </material>

  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0" />
  </material>

  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0" />
  </material>

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0" />
  </material>

  <material name="brown">
    <color rgba="${222/255} ${207/255} ${195/255} 1.0" />
  </material>

  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0" />
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0" />
  </material>

  <material name="silver">
    <color rgba="${233/255} ${233/255} ${216/255} 1.0" />
  </material>

  <!-- DexHand -->
  <material name="tips">
    <color rgba="1 0.16863 0.16863 1" />
  </material>

  <material name="metacarpals">
    <color rgba="0.65098 0.61961 0.58824 1" />
  </material>

</robot>
