<?xml version="1.0"?>
<!--
  G2 gripper dispatcher.

  Supported variants:
    - omnipicker  : 6-finger soft picker
    - swiftpicker : 2-finger industrial gripper
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include ns="omnipicker"
    filename="$(find genie_sim_robot_model)/robots/genie/g2/xacro/gripper.omnipicker.urdf.xacro" />
  <xacro:include ns="swiftpicker"
    filename="$(find genie_sim_robot_model)/robots/genie/g2/xacro/gripper.swiftpicker.urdf.xacro" />

  <xacro:macro name="gripper"
    params="lgripper rgripper left_arm_end_link right_arm_end_link collision_type mesh_dir app">

    <!-- left gripper -->
    <xacro:if value="${'omnipicker' == lgripper}">
      <xacro:omnipicker.gripper
        side="l"
        parent_link="${left_arm_end_link}"
        xyz_offset="0 0 0.0051"
        rpy_offset="0 0 ${PI_2}"
        collision_type="fine"
        mesh_dir="${mesh_dir}"
        app="${app}" />
    </xacro:if>
    <xacro:if value="${'swiftpicker' == lgripper}">
      <xacro:swiftpicker.gripper
        side="l"
        parent_link="${left_arm_end_link}"
        xyz_offset="0 0 0.007"
        rpy_offset="0 0 ${PI_2}"
        collision_type="fine"
        mesh_dir="${mesh_dir}"
        app="${app}" />
    </xacro:if>

    <!-- right gripper -->
    <xacro:if value="${'omnipicker' == rgripper}">
      <xacro:omnipicker.gripper
        side="r"
        parent_link="${right_arm_end_link}"
        xyz_offset="0 0 0.0051"
        rpy_offset="0 0 ${PI_2}"
        collision_type="fine"
        mesh_dir="${mesh_dir}"
        app="${app}" />
    </xacro:if>
    <xacro:if value="${'swiftpicker' == rgripper}">
      <xacro:swiftpicker.gripper
        side="r"
        parent_link="${right_arm_end_link}"
        xyz_offset="0 0 0.007"
        rpy_offset="0 0 ${PI_2}"
        collision_type="fine"
        mesh_dir="${mesh_dir}"
        app="${app}" />
    </xacro:if>

  </xacro:macro>
</robot>
