<?xml version="1.0"?>
<!--
  G2 robot top-level xacro macro.

  Variants integrated into genie_sim_robot_model:
    - arm  : crs | crsB
    - lgripper / rgripper : omnipicker | swiftpicker
-->
<robot name="G2" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="G2" params="arm lgripper rgripper collision_type mesh_dir app">
    <!-- properties -->
    <xacro:property name="arm_base_link" value="arm_base_link" />
    <xacro:property name="left_arm_end_link" value="arm_l_end_link" />
    <xacro:property name="right_arm_end_link" value="arm_r_end_link" />

    <!-- import robot components -->
    <!-- body -->
    <xacro:include filename="$(find genie_sim_robot_model)/robots/genie/g2/xacro/G2.body.urdf.xacro" />

    <!-- chassis -->
    <xacro:include
      filename="$(find genie_sim_robot_model)/robots/genie/g2/xacro/G2.chassis.urdf.xacro" />

    <!-- arm -->
    <xacro:include ns="crs"
      filename="$(find genie_sim_robot_model)/robots/genie/g2/xacro/G2.arm.crs.urdf.xacro" />
    <xacro:include ns="crsB"
      filename="$(find genie_sim_robot_model)/robots/genie/g2/xacro/G2.arm.crsB.urdf.xacro" />

    <!-- gripper set -->
    <xacro:include
      filename="$(find genie_sim_robot_model)/robots/genie/g2/xacro/G2.gripper.urdf.xacro" />

    <!-- assemble robot -->
    <!-- ======================== body ======================== -->
    <xacro:body
      arm_base_link="${arm_base_link}"
      collision_type="${collision_type}"
      mesh_dir="${mesh_dir}"
      app="${app}" />

    <!-- ======================== chassis ======================== -->
    <xacro:chassis
      collision_type="${collision_type}"
      mesh_dir="${mesh_dir}"
      app="${app}" />

    <!-- ======================== arm ======================== -->
    <!-- crs -->
    <xacro:if value="${'crs' == arm}">
      <xacro:crs.arm_l
        parent_link="${arm_base_link}"
        xyz_offset="0 0 0.069"
        rpy_offset="0 0 0"
        end_link="${left_arm_end_link}"
        collision_type="${collision_type}"
        mesh_dir="${mesh_dir}"
        app="${app}" />
      <xacro:crs.arm_r
        parent_link="${arm_base_link}"
        xyz_offset="0 0 -0.069"
        rpy_offset="${PI} 0 0"
        end_link="${right_arm_end_link}"
        collision_type="${collision_type}"
        mesh_dir="${mesh_dir}"
        app="${app}" />
    </xacro:if>
    <!-- crsB -->
    <xacro:if value="${'crsB' == arm}">
      <xacro:crsB.arm_l
        parent_link="${arm_base_link}"
        xyz_offset="0 0 0.069"
        rpy_offset="0 0 0"
        end_link="${left_arm_end_link}"
        collision_type="${collision_type}"
        mesh_dir="${mesh_dir}"
        app="${app}" />
      <xacro:crsB.arm_r
        parent_link="${arm_base_link}"
        xyz_offset="0 0 -0.069"
        rpy_offset="${PI} 0 0"
        end_link="${right_arm_end_link}"
        collision_type="${collision_type}"
        mesh_dir="${mesh_dir}"
        app="${app}" />
    </xacro:if>

    <!-- ======================== gripper ======================== -->
    <xacro:gripper
      lgripper="${lgripper}"
      rgripper="${rgripper}"
      left_arm_end_link="${left_arm_end_link}"
      right_arm_end_link="${right_arm_end_link}"
      collision_type="${collision_type}"
      mesh_dir="${mesh_dir}"
      app="${app}" />

  </xacro:macro>
</robot>
