!output/
!server/recording
!config/curobo/assets
*.jpg
*.json
*.mp4
*.npy
*.onnx
*.png
*.pt
*.pyc
*.wav
*egg-info
.vscode
!tasks/**/*.json
!config/robot_cfg/**/*.urdf
!config/**/*.json
__pycache__
recording_data
config/robot_cfg/*/*_tmp.yaml
tmp/
logs
