<?xml version="1.0"?>
<!--
  ARX robotics provider.

  Dispatches by arm variant to the correct bundled xacro under
  robots/arx/<arm>/. Currently supported arms: x5, acone

  Usage:
    xacro robot.xacro robot_model:=arx arm:=x5
    xacro robot.xacro robot_model:=arx arm:=acone
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="arm" default="x5" />

  <xacro:property name="arm" value="$(arg arm)" />

  <xacro:if value="${'x5' == arm}">
    <xacro:include filename="$(find genie_sim_robot_model)/robots/arx/x5/X5A.urdf.xacro" />
  </xacro:if>

  <xacro:if value="${'acone' == arm}">
    <xacro:include filename="$(find genie_sim_robot_model)/robots/arx/acone/AC1.urdf.xacro" />
  </xacro:if>

</robot>
