<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="arm" default="fr3" />

  <xacro:property name="arm" value="$(arg arm)" />

  <xacro:if value="${'fr3' == arm}">
    <xacro:include filename="$(find genie_sim_robot_model)/robots/franka/fr3/fr3.urdf.xacro" />
  </xacro:if>

</robot>
