<?xml version="1.0"?>
<!--
  Universal Robots provider.

  Dispatches by arm and gripper to the correct bundled xacro under
  robots/universal_robots/<arm>/. Currently supported arms: ur5

  Usage:
    xacro robot.xacro robot_model:=universal_robots arm:=ur5
    xacro robot.xacro robot_model:=universal_robots arm:=ur5 gripper:=robotiq_85
    xacro robot.xacro robot_model:=universal_robots arm:=ur5 gripper:=robotiq_140
    xacro robot.xacro robot_model:=universal_robots arm:=ur5 gripper:=no_gripper
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="arm"     default="ur5" />
  <xacro:arg name="gripper" default="robotiq_85" />

  <xacro:property name="arm"     value="$(arg arm)" />
  <xacro:property name="gripper" value="$(arg gripper)" />

  <xacro:if value="${'ur5' == arm}">
    <xacro:if value="${'robotiq_85' == gripper}">
      <xacro:include filename="$(find genie_sim_robot_model)/robots/universal_robots/ur5/ur5_robotiq_85.urdf.xacro" />
    </xacro:if>
    <xacro:if value="${'robotiq_140' == gripper}">
      <xacro:include filename="$(find genie_sim_robot_model)/robots/universal_robots/ur5/ur5_robotiq_140.urdf.xacro" />
    </xacro:if>
    <xacro:if value="${'no_gripper' == gripper}">
      <xacro:include filename="$(find genie_sim_robot_model)/robots/universal_robots/ur5/ur5.urdf.xacro" />
    </xacro:if>
  </xacro:if>

</robot>
