<?xml version="1.0"?>
<!--
  Generic URDF provider: include a static URDF from any installed ROS package.

  Usage:
    xacro robot.xacro robot_model:=urdf urdf_package:=franka_description urdf_file:=robots/fr3.urdf
    xacro robot.xacro robot_model:=urdf urdf_package:=ur_description     urdf_file:=urdf/ur5e.urdf
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="urdf_package" default="" />
  <xacro:arg name="urdf_file"    default="" />

  <xacro:include filename="$(find $(arg urdf_package))/$(arg urdf_file)" />

</robot>
