<?xml version="1.0"?>
<!--
  Generic xacro file provider: process a xacro from any installed ROS package.

  Any extra args passed on the CLI are forwarded to the included xacro file
  because xacro args are global.

  Usage:
    xacro robot.xacro robot_model:=xacro_file \
        xacro_package:=franka_description xacro_file:=robots/panda_arm.urdf.xacro hand:=true
    xacro robot.xacro robot_model:=xacro_file \
        xacro_package:=ur_description xacro_file:=urdf/ur.urdf.xacro name:=ur5e
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="xacro_package" default="" />
  <xacro:arg name="xacro_file"    default="" />

  <xacro:include filename="$(find $(arg xacro_package))/$(arg xacro_file)" />

</robot>
